/* info_img部分-start */
.info_img {
    height: 800px;
    width: 100%;
    background: url(../upload/starlink_mission_06.png) no-repeat;
    background-size: 100% 800px;
    min-width: 1630px;
}
/* info_img部分-end */
/* info_img_title部分-start */
.info_img_title {
    height: 100px;
    background-color: rgba(0, 0, 0, .7);
    margin-top: -100px;
    padding-left: 50px;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    line-height: 100px;
    min-width: 1580px;
}
/* info_img_title部分-end */
/* info_font部分-start */
.box_shadow {
    height: 90px;
    background-color: #E7E7E7;
    font-size: 18px;
    color: #0f0e0e;
    font-weight: 700;
    line-height: 135px;
    text-align: center;
    min-width: 1630px;
}
.info_font {
    height: 60px;
}
/* info_font部分-end */
/* info_recommend信息推荐部分-start */
.info_recommend {
    padding-left: 180px;
}
/* 在1650px的显示屏下， */
@media screen and (max-width: 1650px) {
    .info_recommend {
        margin-left: 145px;
    }
}
.info_recommend li:hover {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
}
.info_recommend ul li {
    float: left;
    width: 256px;
    height: 258px;
    padding: 24px;
    margin: 0 15px 24px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
    transition: all 0.3s;
}
.info_recommend ul li img {
    width: 256px;
    height: 116px;
}
.info_recommend li h2 {
    margin-top: 20px;
    font-size: 18px;
    color: #3a3a3a;
}
.info_recommend li p {
    margin-top: 30px;
    font-size: 12px;
    color: #3569a4;
}
/* info_recommend信息推荐部分-end */
